<%# Stats %>
<% let useramnt = 0; bot.guilds.forEach(g => { useramnt += g.memberCount; }); %>
<section class="hero is-black is-bold" id="stats">
  <div class="hero-body">
    <div class="container">
      <div class="columns has-text-centered">
        <div class="column">
          <span class="icon is-large"><i class="fas fa-comment-alt fa-3x"></i></span>
          <p class="subtitle"><%= bot.guilds.size %> servers</p>
        </div>
        <div class="column">
          <span class="icon is-large"><i class="fas fa-users fa-3x"></i></span>
          <p class="subtitle"><%= useramnt %> users</p>
        </div>
        <div class="column">
          <span class="icon is-large"><i class="fas fa-stream fa-3x"></i></span>
          <p class="subtitle"><%= bot.commands.length %> commands</p>
        </div>
        <div class="column">
          <span class="icon is-large"><i class="fas fa-clock fa-3x"></i></span>
          <p class="subtitle"><%= format.uptime(process.uptime()); %></p>
        </div>
        <div class="column">
          <span class="icon is-large"><i class="fas fa-wifi fa-3x"></i></span>
          <p class="subtitle"><%= bot.shards.get(0).latency %> ms</p>
        </div>
      </div>
    </div>
  </div>
</section>

<%# Fun %>
<section class="hero is-medium" id="features">
  <div class="hero-body">
    <div class="container">
      <div class="tile is-ancestor">
        <div class="tile is-vertical is-7">
          <div class="tile is-parent">
            <div class="tile is-child">
              <p class="title is-size-2">Make your server more fun.</p>
              <p class="subtitle is-size-4"><%= bot.user.username %> has lots of fun commands. Here are just a few!</p>
            </div>
          </div>
          <div class="tile has-text-centered">
            <div class="tile is-parent is-vertical">
              <div class="tile is-child">
                <span class="icon is-large"><i class="floating fa fa-cat fa-3x"></i></span>
                <p class="title is-size-4">Get pictures of various animals</p>
              </div>
              <div class="tile is-child">
                <span class="icon is-large"><i class="floating fa fa-comment fa-3x"></i></span>
                <p class="title is-size-4">View XKCD and Garfield comics</p>
              </div>
              <div class="tile is-child">
                <span class="icon is-large"><i class="floating fa fa-paw fa-3x"></i></span>
                <p class="title is-size-4">Get pictures of cute catgirls and foxgirls</p>
              </div>
            </div>
            <div class="tile is-parent is-vertical">
              <div class="tile is-child">
                <span class="icon is-large"><i class="floating fa fa-heart fa-3x"></i></span>
                <p class="title is-size-4">Roleplay with users with anime gifs</p>
              </div>
              <div class="tile is-child">
                <span class="icon is-large"><i class="floating fa fa-book fa-3x"></i></span>
                <p class="title is-size-4">Define from the Urban Dictionary</p>
              </div>
              <div class="tile is-child">
                <span class="icon is-large"><i class="floating fa fa-image fa-3x"></i></span>
                <p class="title is-size-4">View images from boorus and NSFW</p>
              </div>
            </div>
            <div class="tile is-parent is-vertical">
              <div class="tile is-child">
                <span class="icon is-large"><i class="floating fas fa-paint-brush fa-3x"></i></span>
                <p class="title is-size-4">Get cat, dog, and useless facts</p>
              </div>
              <div class="tile is-child">
                <span class="icon is-large"><i class="floating fas fa-question-circle fa-3x"></i></span>
                <p class="title is-size-4">Get answers from a magic 8-ball</p>
              </div>
              <div class="tile is-child">
                <span class="icon is-large"><i class="floating fas fa-percent fa-3x"></i></span>
                <p class="title is-size-4">Calculate coolness and gayness levels</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<%# Productivity %>
<section class="hero is-medium">
  <div class="hero-body">
    <div class="container">
      <div class="tile is-ancestor">
        <div class="tile is-parent">
          <div class="tile is-child">
          </div>
        </div>
        <div class="tile is-vertical is-7">
          <div class="tile is-parent">
            <div class="tile is-child">
              <p class="title is-size-2">Increase your server's productivity.</p>
              <p class="subtitle is-size-4"><%= bot.user.username %> has tons of useful utilities to enhance your chat.</p>
            </div>
          </div>
          <div class="tile has-text-centered">
            <div class="tile is-parent is-vertical">
              <div class="tile is-child">
                <span class="icon is-large"><i class="floating fas fa-book fa-3x"></i></span>
                <p class="title is-size-4">Define a word from the dictionary</p>
              </div>
              <div class="tile is-child">
                <span class="icon is-large"><i class="floating fas fa-shopping-bag fa-3x"></i></span>
                <p class="title is-size-4">Search for packages on npm and AUR</p>
              </div>
              <div class="tile is-child">
                <span class="icon is-large"><i class="floating fas fa-sort fa-3x"></i></span>
                <p class="title is-size-4">Convert currencies between each other</p>
              </div>
            </div>
            <div class="tile is-parent is-vertical">
              <div class="tile is-child">
                <span class="icon is-large"><i class="floating fas fa-globe fa-3x"></i></span>
                <p class="title is-size-4">Return info about an IP address</p>
              </div>
              <div class="tile is-child">
                <span class="icon is-large"><i class="floating fab fa-github fa-3x"></i></span>
                <p class="title is-size-4">Get info about a GitHub user or repo</p>
              </div>
              <div class="tile is-child">
                <span class="icon is-large"><i class="floating fab fa-steam fa-3x"></i></span>
                <p class="title is-size-4">Get info of a Steam profile and its bans</p>
              </div>
            </div>
            <div class="tile is-parent is-vertical">
              <div class="tile is-child">
                <span class="icon is-large"><i class="floating fas fa-palette fa-3x"></i></span>
                <p class="title is-size-4">Get RGB, HSV, and hex for a color</p>
              </div>
              <div class="tile is-child">
                <span class="icon is-large"><i class="floating fab fa-twitter fa-3x"></i></span>
                <p class="title is-size-4">Get Twitter profile info and stats</p>
              </div>
              <div class="tile is-child">
                <span class="icon is-large"><i class="floating fa fa-globe fa-3x"></i></span>
                <p class="title is-size-4">Translate text between languages</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<%# Moderation %>
<section class="hero is-medium">
  <div class="hero-body">
    <div class="container">
      <div class="tile is-ancestor">
        <div class="tile is-vertical is-7">
          <div class="tile is-parent">
            <div class="tile is-child">
              <p class="title is-size-2">Keep your server in check.</p>
              <p class="subtitle is-size-4"><%= bot.user.username %> provides a suite of moderation and logging tools.</p>
            </div>
          </div>
          <div class="tile has-text-centered">
            <div class="tile is-parent is-vertical">
              <div class="tile is-child">
                <span class="icon is-large"><i class="floating fas fa-scroll fa-3x"></i></span>
                <p class="title is-size-4">Log message and user updates</p>
              </div>
              <div class="tile is-child">
                <span class="icon is-large"><i class="floating fas fa-sticky-note fa-3x"></i></span>
                <p class="title is-size-4">Log when a role or channel is changed</p>
              </div>
              <div class="tile is-child">
                <span class="icon is-large"><i class="floating fas fa-sign-language fa-3x"></i></span>
                <p class="title is-size-4">Send custom leave/join messages</p>
              </div>
            </div>
            <div class="tile is-parent is-vertical">
              <div class="tile is-child">
                <span class="icon is-large"><i class="floating fas fa-exclamation-triangle fa-3x"></i></span>
                <p class="title is-size-4">Give members warnings/strikes</p>
              </div>
              <div class="tile is-child">
                <span class="icon is-large"><i class="floating fas fa-star fa-3x"></i></span>
                <p class="title is-size-4">Give members repuation points</p>
              </div>
              <div class="tile is-child">
                <span class="icon is-large"><i class="floating fas fa-gavel fa-3x"></i></span>
                <p class="title is-size-4">Forceban users that aren't present</p>
              </div>
            </div>
            <div class="tile is-parent is-vertical">
              <div class="tile is-child">
                <span class="icon is-large"><i class="floating fas fa-robot fa-3x"></i></span>
                <p class="title is-size-4">Auto moderate spam and invites</p>
              </div>
              <div class="tile is-child">
                <span class="icon is-large"><i class="floating fas fa-eye fa-3x"></i></span>
                <p class="title is-size-4">Sniping of deleted messages</p>
              </div>
              <div class="tile is-child">
                <span class="icon is-large"><i class="floating fas fa-bomb fa-3x"></i></span>
                <p class="title is-size-4">Purge a set amount of messages fast</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<%# Customizability %>
<section class="hero" id="about">
  <div class="hero-body">
    <div class="container">
      <p class="title is-size-2">It's all customizable.</p>
      <p class="subtitle is-size-4"><%= bot.user.username %> can be tweaked and customized in many ways!</p>
      <p>Want to log some events, but not others? And in separate channels? Edit the channel configs!</p>
      <p>Don't want users running a certain command, or even an entire category? You can disable them!</p>
      <p>Want to add custom command responses? That's possible with the addcommand and removecommand commands.</p>
      <p>Want to tweak how message sniping works, add ignored channels, or outright disable it? You can edit the snipe config!</p>
      <p>You can get the best experience configuring <%= bot.user.username %> by using the <a href="/manage/servers" class="has-text-info">dashboard</a>. You'll need permission to manage the server.</p>
    </div>
  </div>
</section>

<%# Free %>
<section class="hero has-text-right">
  <div class="hero-body">
    <div class="container">
      <p class="title is-size-2">It's all <strong>free, forever</strong>.</p>
      <p class="subtitle is-size-4">We'll never lock features behind a paywall.</p>
      <p>We'll <strong>never</strong> make you donate or vote to unlock features - unlike bots that beg for premium.</p>
      <p>Hibiki is a <strong>passion project</strong> built by our team of developers that ♥ free &amp; open-source software.</p>
      <p>The entire project's codebase is free and open-source software licensed under the GNU AGPLv3 or later.</p>
    </div>
  </div>
</section>

<%# Links %>
<section class="hero is-small has-text-centered" id="links">
  <div class="hero-body">
    <p class="is-size-3 has-text-weight-semibold">Ready to improve your server?</p>
    <a href="/github/" class="button is-medium" target="_blank" rel="noopener">
      <span class="icon is-small">
        <i class="fab fa-github"></i>
      </span>
      <span>View on GitHub</span>
    </a>
    <a href="/invite/" class="button is-medium">
      <span class="icon is-small">
        <i class="fas fa-plus"></i>
      </span>
      <span>Add to Server</span>
    </a>
    <a href="/vote/" class="button is-medium" target="_blank" rel="noopener">
      <span class="icon is-small">
        <i class="fas fa-vote-yea"></i>
      </span>
      <span>Vote on top.gg</span>
    </a>
  </div>
</section>

<%# Developers %>
<section class="hero is-medium is-bold has-text-centered" id="developers">
  <div class="hero-body">
    <div class="container">
      <p class="title is-size-2">Team</p>
      <p class="subtitle is-size-4">We develop and keep <%= bot.user.username %> running!</p>
      <div class="columns">
        <div class="column is-one-fourth">
          <div class="card">
            <div class="card-image">
              <figure class="image is-square">
                <img src="https://avatars1.githubusercontent.com/u/49253425" alt="smolespi">
              </figure>
            </div>
            <div class="card-content">
              <p class="title is-size-3">smolespi</p>
              <p class="subtitle is-size-5">Bot Owner, Developer</p>
            </div>
            <footer class="card-footer">
              <a href="https://github.com/smolespi" class="card-footer-item has-text-info" target="_blank" rel="noopener">GitHub</a>
              <a href="https://twitter.com/smolespi" class="card-footer-item has-text-info" target="_blank" rel="noopener">Twitter</a>
              <a href="https://lesbian.codes" class="card-footer-item has-text-info" target="_blank" rel="noopener">Website</a>
            </footer>
          </div>
        </div>
        <div class="column is-one-fourth">
          <div class="card">
            <div class="card-image">
              <figure class="image is-square">
                <img src="https://avatars1.githubusercontent.com/u/46578648" alt="resolved">
              </figure>
            </div>
            <div class="card-content">
              <p class="title is-size-3">resolved</p>
              <p class="subtitle is-size-5">Owner, Developer</p>
            </div>
            <footer class="card-footer">
              <a href="https://github.com/resolvedxd" class="card-footer-item has-text-info" target="_blank" rel="noopener">GitHub</a>
              <a href="https://twitter.com/resolvedxd" class="card-footer-item has-text-info" target="_blank" rel="noopener">Twitter</a>
            </footer>
          </div>
        </div>
        <div class="column is-one-fourth">
          <div class="card">
            <div class="card-image">
              <figure class="image is-square">
                <img src="https://avatars1.githubusercontent.com/u/30247185" alt="cth103">
              </figure>
            </div>
            <div class="card-content">
              <p class="title is-size-3">cth103</p>
              <p class="subtitle is-size-5">Developer</p>
            </div>
            <footer class="card-footer">
              <a href="https://github.com/cthpw103" class="card-footer-item has-text-info" target="_blank" rel="noopener">GitHub</a>
              <a href="https://twitter.com/cth103" class="card-footer-item has-text-info" target="_blank" rel="noopener">Twitter</a>
            </footer>
          </div>
        </div>
        <div class="column is-one-fourth">
          <div class="card">
            <div class="card-image">
              <figure class="image is-square">
                <img src="https://avatars1.githubusercontent.com/u/17570452" alt="tttie">
              </figure>
            </div>
            <div class="card-content">
              <p class="title is-size-3">TTtie</p>
              <p class="subtitle is-size-5">Developer</p>
            </div>
            <footer class="card-footer">
              <a href="https://github.com/TTtie" class="card-footer-item has-text-info" target="_blank" rel="noopener">GitHub</a>
              <a href="https://twitter.com/TTtie_TT" class="card-footer-item has-text-info" target="_blank" rel="noopener">Twitter</a>
              <a href="https://tttie.cz" class="card-footer-item has-text-info">Website</a>
            </footer>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
