<%# Tagline %>
<section class="hero is-black" id="features">
  <div class="hero-body">
    <div class="container has-text-centered">
      <p class="title is-size-2">The ultimate all-in-one Discord bot.</p>
      <p class="subtitle is-size-4"><%= bot.user.username %> can do everything that your server needs - and then some.</p>
    </div>
  </div>
</section>

<%# Features %>
<section class="hero is-medium" id="features">
  <div class="hero-body">
    <div class="container">
      <div class="tile is-ancestor">
        <div class="tile is-vertical is-7">
          <div class="tile is-parent">
            <div class="tile is-child">
              <p class="title is-size-2">Make your server more fun.</p>
              <p class="subtitle is-size-4"><%= bot.user.username %> comes with with many fun and image commands.</p>
            </div>
          </div>
          <div class="tile has-text-centered">
            <div class="tile is-parent is-vertical">
              <div class="tile is-child">
                <span class="icon is-large"><em class="floating fa fa-cat fa-3x"></em></span>
                <p class="title is-size-4">Get pictures of various animals</p>
              </div>
              <div class="tile is-child">
                <span class="icon is-large"><em class="floating fa fa-comment fa-3x"></em></span>
                <p class="title is-size-4">View XKCD and Garfield comics</p>
              </div>
              <div class="tile is-child">
                <span class="icon is-large"><em class="floating fa fa-paw fa-3x"></em></span>
                <p class="title is-size-4">Get pictures of cute catgirls and foxgirls</p>
              </div>
            </div>
            <div class="tile is-parent is-vertical">
              <div class="tile is-child">
                <span class="icon is-large"><em class="floating fa fa-heart fa-3x"></em></span>
                <p class="title is-size-4">Roleplay with other server members</p>
              </div>
              <div class="tile is-child">
                <span class="icon is-large"><em class="floating fa fa-music fa-3x"></em></span>
                <p class="title is-size-4">Play high quality music/videos</p>
              </div>
              <div class="tile is-child">
                <span class="icon is-large"><em class="floating fa fa-image fa-3x"></em></span>
                <p class="title is-size-4">Get images from boorus and NSFW</p>
              </div>
            </div>
            <div class="tile is-parent is-vertical">
              <div class="tile is-child">
                <span class="icon is-large"><em class="floating fas fa-dollar-sign fa-3x"></em></span>
                <p class="title is-size-4">Compete in the cookie economy</p>
              </div>
              <div class="tile is-child">
                <span class="icon is-large"><em class="floating fas fa-question-circle fa-3x"></em></span>
                <p class="title is-size-4">Get answers from a magic 8-ball</p>
              </div>
              <div class="tile is-child">
                <span class="icon is-large"><em class="floating fas fa-star fa-3x"></em></span>
                <p class="title is-size-4">Customizable pinboard/starboard</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<%# Productivity %>
<section class="hero is-medium">
  <div class="hero-body">
    <div class="container">
      <div class="tile is-ancestor">
        <div class="tile is-parent">
          <div class="tile is-child"></div>
        </div>
        <div class="tile is-vertical is-7">
          <div class="tile is-parent">
            <div class="tile is-child">
              <p class="title is-size-2">Increase your server's productivity.</p>
              <p class="subtitle is-size-4"><%= bot.user.username %> provides useful utilities to boost your productivity.</p>
            </div>
          </div>
          <div class="tile has-text-centered">
            <div class="tile is-parent is-vertical">
              <div class="tile is-child">
                <span class="icon is-large"><em class="floating fas fa-book fa-3x"></em></span>
                <p class="title is-size-4">Define a word from the dictionary</p>
              </div>
              <div class="tile is-child">
                <span class="icon is-large"><em class="floating fas fa-shopping-bag fa-3x"></em></span>
                <p class="title is-size-4">Search for packages on npm and AUR</p>
              </div>
              <div class="tile is-child">
                <span class="icon is-large"><em class="floating fas fa-sort fa-3x"></em></span>
                <p class="title is-size-4">Convert currencies between each other</p>
              </div>
            </div>
            <div class="tile is-parent is-vertical">
              <div class="tile is-child">
                <span class="icon is-large"><em class="floating fas fa-globe fa-3x"></em></span>
                <p class="title is-size-4">Return info about an IP address</p>
              </div>
              <div class="tile is-child">
                <span class="icon is-large"><em class="floating fab fa-github fa-3x"></em></span>
                <p class="title is-size-4">Get info about a GitHub user or repo</p>
              </div>
              <div class="tile is-child">
                <span class="icon is-large"><em class="floating fab fa-steam fa-3x"></em></span>
                <p class="title is-size-4">Get info of a Steam profile and its bans</p>
              </div>
            </div>
            <div class="tile is-parent is-vertical">
              <div class="tile is-child">
                <span class="icon is-large"><em class="floating fas fa-palette fa-3x"></em></span>
                <p class="title is-size-4">Get RGB, HSV, and hex for a color</p>
              </div>
              <div class="tile is-child">
                <span class="icon is-large"><em class="floating fab fa-twitter fa-3x"></em></span>
                <p class="title is-size-4">Get Twitter profile info and stats</p>
              </div>
              <div class="tile is-child">
                <span class="icon is-large"><em class="floating fa fa-globe fa-3x"></em></span>
                <p class="title is-size-4">Translate text between languages</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<%# Moderation %>
<section class="hero is-medium">
  <div class="hero-body">
    <div class="container">
      <div class="tile is-ancestor">
        <div class="tile is-vertical is-7">
          <div class="tile is-parent">
            <div class="tile is-child">
              <p class="title is-size-2">Keep your server in check.</p>
              <p class="subtitle is-size-4"><%= bot.user.username %> provides a suite of moderation and logging tools.</p>
            </div>
          </div>
          <div class="tile has-text-centered">
            <div class="tile is-parent is-vertical">
              <div class="tile is-child">
                <span class="icon is-large"><em class="floating fas fa-scroll fa-3x"></em></span>
                <p class="title is-size-4">Log message and user updates</p>
              </div>
              <div class="tile is-child">
                <span class="icon is-large"><em class="floating fas fa-sticky-note fa-3x"></em></span>
                <p class="title is-size-4">Log any creation, edit, and deletion events</p>
              </div>
              <div class="tile is-child">
                <span class="icon is-large"><em class="floating fas fa-sign-language fa-3x"></em></span>
                <p class="title is-size-4">Send custom leave/join messages</p>
              </div>
            </div>
            <div class="tile is-parent is-vertical">
              <div class="tile is-child">
                <span class="icon is-large"><em class="floating fas fa-exclamation-triangle fa-3x"></em></span>
                <p class="title is-size-4">Give members warnings/strikes</p>
              </div>
              <div class="tile is-child">
                <span class="icon is-large"><em class="floating fas fa-radiation fa-3x"></em></span>
                <p class="title is-size-4">Antiraid preventing member bombing</p>
              </div>
              <div class="tile is-child">
                <span class="icon is-large"><em class="floating fas fa-gavel fa-3x"></em></span>
                <p class="title is-size-4">Forceban users that aren't present</p>
              </div>
            </div>
            <div class="tile is-parent is-vertical">
              <div class="tile is-child">
                <span class="icon is-large"><em class="floating fas fa-robot fa-3x"></em></span>
                <p class="title is-size-4">Automod various spam and invites</p>
              </div>
              <div class="tile is-child">
                <span class="icon is-large"><em class="floating fas fa-eye fa-3x"></em></span>
                <p class="title is-size-4">Sniping of deleted messages</p>
              </div>
              <div class="tile is-child">
                <span class="icon is-large"><em class="floating fas fa-bomb fa-3x"></em></span>
                <p class="title is-size-4">Purge a set amount of messages fast</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<%# Customizability %>
<section class="hero" id="about">
  <div class="hero-body">
    <div class="container">
      <p class="title is-size-2">It's all customizable.</p>
      <p class="subtitle is-size-4"><%= bot.user.username %> is designed to be heavily tweaked and customized.</p>
      <p><%= bot.user.username %> is designed with a KISS principle - but it's also extremely hackable.</p>
      <p>Nearly every major feature or module is configurable, so you can fit things to fit any server.</p>
      <p>You can even set thresholds for the automod system and opt-out of individual logger events.</p>
    </div>
  </div>
</section>

<%# Free %>
<section class="hero has-text-right">
  <div class="hero-body">
    <div class="container">
      <p class="title is-size-2">It's all <strong>free, forever</strong>.</p>
      <p class="subtitle is-size-4">We'll never lock features behind a paywall.</p>
      <p>We'll <strong>never</strong> make you donate or vote to unlock features - unlike bots that beg for premium.</p>
      <p>
        <%= bot.user.username %> is a <strong>passion project</strong> built by our team of developers that ♥ free &amp; open-source
        software.
      </p>
      <p>The entire project's codebase is free and open-source software licensed under the GNU AGPLv3 or later.</p>
    </div>
  </div>
</section>

<%# Global %>
<section class="hero has-text-left">
  <div class="hero-body">
    <div class="container">
      <p class="title is-size-2"><%= bot.user.username %> is <strong>global</strong>.</p>
      <p class="subtitle is-size-4">Every command is completely translatable.</p>
      <p>We already have several complete languages finished.</p>
      <p>You can change your default language so every command returns in it.</p>
      <p>
        Additionally, anyone (even you) can help us
        <a href="https://translate.hibiki.app" target="_blank" rel="noopener noreferrer">translate</a> <%= bot.user.username %> to other
        languages!
      </p>
    </div>
  </div>
</section>

<%# Links %>
<section class="hero has-text-centered" id="links">
  <div class="hero-body">
    <p class="is-size-3 has-text-weight-semibold">Ready to improve your server?</p>
    <p class="subtitle is-size-5">Join the <%= bot.users.size %> other users and never need to invite another bot.</p>
    <a href="/github/" class="button is-medium" target="_blank" rel="noopener noreferrer">
      <span class="icon is-small">
        <em class="fab fa-github"></em>
      </span>
      <span>View on GitHub</span>
    </a>
    <a href="/invite/" class="button is-medium">
      <span class="icon is-small">
        <em class="fas fa-plus"></em>
      </span>
      <span>Add to Server</span>
    </a>
    <a href="/vote/" class="button is-medium" target="_blank" rel="noopener noreferrer">
      <span class="icon is-small">
        <em class="fas fa-vote-yea"></em>
      </span>
      <span>Vote on top.gg</span>
    </a>
  </div>
</section>

<%# Developers %>
<section class="hero has-text-centered" id="developers">
  <div class="hero-body">
    <div class="container">
      <p class="title is-size-2">Team</p>
      <p class="subtitle is-size-4">We develop and keep <%= bot.user.username %> running!</p>
      <div class="columns">
        <div class="column is-one-fourth">
          <div class="card">
            <div class="card-image">
              <figure class="image is-square">
                <img src="https://avatars1.githubusercontent.com/u/49253425?v=2&s=450" alt="Espi" />
              </figure>
            </div>
            <div class="card-content">
              <p class="title is-size-3">Espi</p>
              <p class="subtitle is-size-5">Owner, Developer</p>
            </div>
            <footer class="card-footer">
              <a href="https://github.com/smolespi" class="card-footer-item" target="_blank" rel="noopener noreferrer">GitHub</a>
              <a href="https://twitter.com/smolespi" class="card-footer-item" target="_blank" rel="noopener noreferrer">Twitter</a>
            </footer>
          </div>
        </div>
        <div class="column is-one-fourth">
          <div class="card">
            <div class="card-image">
              <figure class="image is-square">
                <img src="https://avatars1.githubusercontent.com/u/46578648?v=2&s=450" alt="resolved" />
              </figure>
            </div>
            <div class="card-content">
              <p class="title is-size-3">resolved</p>
              <p class="subtitle is-size-5">Owner, Developer</p>
            </div>
            <footer class="card-footer">
              <a href="https://github.com/resolvedxd" class="card-footer-item" target="_blank" rel="noopener noreferrer">GitHub</a>
              <a href="https://twitter.com/resolvedxd" class="card-footer-item" target="_blank" rel="noopener noreferrer">Twitter</a>
            </footer>
          </div>
        </div>
        <div class="column is-one-fourth">
          <div class="card">
            <div class="card-image">
              <figure class="image is-square">
                <img src="https://avatars1.githubusercontent.com/u/30247185?v=2&s=450" alt="cth103" />
              </figure>
            </div>
            <div class="card-content">
              <p class="title is-size-3">cth103</p>
              <p class="subtitle is-size-5">Developer</p>
            </div>
            <footer class="card-footer">
              <a href="https://github.com/cthpw103" class="card-footer-item" target="_blank" rel="noopener noreferrer">GitHub</a>
              <a href="https://twitter.com/cth103" class="card-footer-item" target="_blank" rel="noopener noreferrer">Twitter</a>
            </footer>
          </div>
        </div>
        <div class="column is-one-fourth">
          <div class="card">
            <div class="card-image">
              <figure class="image is-square">
                <img src="https://avatars1.githubusercontent.com/u/17570452?v=2&s=450" alt="TTtie" />
              </figure>
            </div>
            <div class="card-content">
              <p class="title is-size-3">TTtie</p>
              <p class="subtitle is-size-5">Developer</p>
            </div>
            <footer class="card-footer">
              <a href="https://github.com/TTtie" class="card-footer-item" target="_blank" rel="noopener noreferrer">GitHub</a>
              <a href="https://twitter.com/TTtie_TT" class="card-footer-item" target="_blank" rel="noopener noreferrer">Twitter</a>
            </footer>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
