<!-- Tagline -->
<section class="hero is-black" id="features">
  <div class="hero-body">
    <div class="container has-text-centered">
      <p class="title is-size-2">{{ locales.web.INDEX_TAGLINE }}.</p>
      <p class="subtitle is-size-4">{{ bot.user.username }} {{ locales.web.INDEX_TAGLINE_SUBTITLE }}</p>
    </div>
  </div>
</section>

<!-- Features -->
<section class="hero is-medium" id="features">
  <div class="hero-body">
    <div class="container">
      <div class="tile is-ancestor">
        <div class="tile is-vertical is-7">
          <div class="tile is-parent">
            <div class="tile is-child">
              <p class="title is-size-2">{{ locales.web.INDEX_FUN }}</p>
              <p class="subtitle is-size-4">{{ bot.user.username }} {{ locales.web.INDEX_FUN_DESCRIPTION }}</p>
            </div>
          </div>
          <div class="tile has-text-centered">
            <div class="tile is-parent is-vertical">
              <div class="tile is-child">
                <span class="icon is-large"><em class="floating fa fa-cat fa-3x"></em></span>
                <p class="title is-size-4">{{ locales.web.INDEX_FUN_ANIMALS }}</p>
              </div>
              <div class="tile is-child">
                <span class="icon is-large"><em class="floating fa fa-comment fa-3x"></em></span>
                <p class="title is-size-4">{{ locales.web.INDEX_FUN_COMICS }}</p>
              </div>
              <div class="tile is-child">
                <span class="icon is-large"><em class="floating fa fa-paw fa-3x"></em></span>
                <p class="title is-size-4">{{ locales.web.INDEX_FUN_CATGIRLS }}</p>
              </div>
            </div>
            <div class="tile is-parent is-vertical">
              <div class="tile is-child">
                <span class="icon is-large"><em class="floating fa fa-heart fa-3x"></em></span>
                <p class="title is-size-4">{{ locales.web.INDEX_FUN_ROLEPLAY }}</p>
              </div>
              <div class="tile is-child">
                <span class="icon is-large"><em class="floating fa fa-music fa-3x"></em></span>
                <p class="title is-size-4">{{ locales.web.INDEX_FUN_MUSIC }}</p>
              </div>
              <div class="tile is-child">
                <span class="icon is-large"><em class="floating fa fa-image fa-3x"></em></span>
                <p class="title is-size-4">{{ locales.web.INDEX_FUN_BOORUS }}</p>
              </div>
            </div>
            <div class="tile is-parent is-vertical">
              <div class="tile is-child">
                <span class="icon is-large"><em class="floating fas fa-dollar-sign fa-3x"></em></span>
                <p class="title is-size-4">{{ locales.web.INDEX_FUN_COOKIES }}</p>
              </div>
              <div class="tile is-child">
                <span class="icon is-large"><em class="floating fas fa-question-circle fa-3x"></em></span>
                <p class="title is-size-4">{{ locales.web.INDEX_FUN_8BALL }}</p>
              </div>
              <div class="tile is-child">
                <span class="icon is-large"><em class="floating fas fa-star fa-3x"></em></span>
                <p class="title is-size-4">{{ locales.web.INDEX_FUN_PINBOARD }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Productivity -->
<section class="hero is-medium">
  <div class="hero-body">
    <div class="container">
      <div class="tile is-ancestor">
        <div class="tile is-parent">
          <div class="tile is-child"></div>
        </div>
        <div class="tile is-vertical is-7">
          <div class="tile is-parent">
            <div class="tile is-child">
              <p class="title is-size-2">{{ locales.web.INDEX_PRODUCTIVITY }}</p>
              <p class="subtitle is-size-4">{{ bot.user.username }} {{ locales.web.INDEX_PRODUCTIVITY_DESCRIPTION }}</p>
            </div>
          </div>
          <div class="tile has-text-centered">
            <div class="tile is-parent is-vertical">
              <div class="tile is-child">
                <span class="icon is-large"><em class="floating fas fa-book fa-3x"></em></span>
                <p class="title is-size-4">{{ locales.web.INDEX_PRODUCTIVITY_DICTIONARY }}</p>
              </div>
              <div class="tile is-child">
                <span class="icon is-large"><em class="floating fas fa-shopping-bag fa-3x"></em></span>
                <p class="title is-size-4">{{ locales.web.INDEX_PRODUCTIVITY_PACKAGES }}</p>
              </div>
              <div class="tile is-child">
                <span class="icon is-large"><em class="floating fas fa-sort fa-3x"></em></span>
                <p class="title is-size-4">{{ locales.web.INDEX_PRODUCTIVITY_CURRENCIES }}</p>
              </div>
            </div>
            <div class="tile is-parent is-vertical">
              <div class="tile is-child">
                <span class="icon is-large"><em class="floating fas fa-globe fa-3x"></em></span>
                <p class="title is-size-4">{{ locales.web.INDEX_PRODUCTIVITY_IP }}</p>
              </div>
              <div class="tile is-child">
                <span class="icon is-large"><em class="floating fab fa-github fa-3x"></em></span>
                <p class="title is-size-4">{{ locales.web.INDEX_PRODUCTIVITY_GITHUB }}</p>
              </div>
              <div class="tile is-child">
                <span class="icon is-large"><em class="floating fab fa-steam fa-3x"></em></span>
                <p class="title is-size-4">{{ locales.web.INDEX_PRODUCTIVITY_STEAM }}</p>
              </div>
            </div>
            <div class="tile is-parent is-vertical">
              <div class="tile is-child">
                <span class="icon is-large"><em class="floating fas fa-palette fa-3x"></em></span>
                <p class="title is-size-4">{{ locales.web.INDEX_PRODUCTIVITY_COLORS }}</p>
              </div>
              <div class="tile is-child">
                <span class="icon is-large"><em class="floating fas fa-gavel fa-3x"></em></span>
                <p class="title is-size-4">{{ locales.web.INDEX_PRODUCTIVITY_MONITOR }}</p>
              </div>
              <div class="tile is-child">
                <span class="icon is-large"><em class="floating fa fa-globe fa-3x"></em></span>
                <p class="title is-size-4">{{ locales.web.INDEX_PRODUCTIVITY_TRANSLATE }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Moderation -->
<section class="hero is-medium">
  <div class="hero-body">
    <div class="container">
      <div class="tile is-ancestor">
        <div class="tile is-vertical is-7">
          <div class="tile is-parent">
            <div class="tile is-child">
              <p class="title is-size-2">{{ locales.web.MODERATION }}</p>
              <p class="subtitle is-size-4">{{ bot.user.username }} {{ locales.web.INDEX_MODERATION_DESCRIPTION }}</p>
            </div>
          </div>
          <div class="tile has-text-centered">
            <div class="tile is-parent is-vertical">
              <div class="tile is-child">
                <span class="icon is-large"><em class="floating fas fa-scroll fa-3x"></em></span>
                <p class="title is-size-4">{{ locales.web.INDEX_MODERATION_LOGMESSAGES }}</p>
              </div>
              <div class="tile is-child">
                <span class="icon is-large"><em class="floating fas fa-sticky-note fa-3x"></em></span>
                <p class="title is-size-4">{{ locales.web.INDEX_MODERATION_LOGCREATION }}</p>
              </div>
              <div class="tile is-child">
                <span class="icon is-large"><em class="floating fas fa-sign-language fa-3x"></em></span>
                <p class="title is-size-4">{{ locales.web.INDEX_MODERATION_LEAVEJOIN }}</p>
              </div>
            </div>
            <div class="tile is-parent is-vertical">
              <div class="tile is-child">
                <span class="icon is-large"><em class="floating fas fa-exclamation-triangle fa-3x"></em></span>
                <p class="title is-size-4">{{ locales.web.INDEX_MODERATION_WARNINGS }}</p>
              </div>
              <div class="tile is-child">
                <span class="icon is-large"><em class="floating fas fa-radiation fa-3x"></em></span>
                <p class="title is-size-4">{{ locales.web.INDEX_MODERATION_ANTIRAID }}</p>
              </div>
              <div class="tile is-child">
                <span class="icon is-large"><em class="floating fas fa-hammer fa-3x"></em></span>
                <p class="title is-size-4">{{ locales.web.INDEX_MODERATION_MUTE }}</p>
              </div>
            </div>
            <div class="tile is-parent is-vertical">
              <div class="tile is-child">
                <span class="icon is-large"><em class="floating fas fa-robot fa-3x"></em></span>
                <p class="title is-size-4">{{ locales.web.INDEX_MODERATION_AUTOMOD }}</p>
              </div>
              <div class="tile is-child">
                <span class="icon is-large"><em class="floating fas fa-eye fa-3x"></em></span>
                <p class="title is-size-4">{{ locales.web.INDEX_MODERATION_SNIPING }}</p>
              </div>
              <div class="tile is-child">
                <span class="icon is-large"><em class="floating fas fa-bomb fa-3x"></em></span>
                <p class="title is-size-4">{{ locales.web.INDEX_MODERATION_PURGE }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Customizability -->
<section class="hero" id="about">
  <div class="hero-body">
    <div class="container">
      <p class="title is-size-2">{{ locales.web.INDEX_CUSTOMIZABLE }}</p>
      <p class="subtitle is-size-4">{{ bot.user.username }} {{ locales.web.INDEX_CUSTOMIZABLE_DESCRIPTION }}</p>
      <p>{{ bot.user.username }} {{ locales.web.INDEX_CUSTOMIZABLE_SIMPLE }}</p>
      <p>{{ locales.web.INDEX_CUSTOMIZABLE_FIT }}</p>
      <p>{{ locales.web.INDEX_CUSTOMIZABLE_THRESHOLDS }}</p>
    </div>
  </div>
</section>

<!-- Free -->
<section class="hero has-text-right">
  <div class="hero-body">
    <div class="container">
      <p class="title is-size-2">It's all <strong>free, forever</strong>.</p>
      <p class="subtitle is-size-4">{{ locales.web.INDEX_FREE_DESCRIPTION }}.</p>
      <p>{{ locales.web.INDEX_FREE_PAYWALL }}</p>
      <p>{{ bot.user.username }} {{ locales.web.INDEX_FREE_PASSION }}</p>
      <p>{{ locales.web.INDEX_FREE_CODEBASE }}</p>
    </div>
  </div>
</section>

<!-- GLobal -->
<section class="hero has-text-left">
  <div class="hero-body">
    <div class="container">
      <p class="title is-size-2">{{ bot.user.username }} {{ locales.web.INDEX_GLOBAL }}</p>
      <p class="subtitle is-size-4">{{ locales.web.INDEX_GLOBAL_DESCRIPTION }}</p>
      <p>{{ locales.web.INDEX_GLOBAL_CHANGE }}</p>
      <p>{{ locales.web.INDEX_GLOBAL_DONE }}</p>
    </div>
  </div>
</section>

<!-- Links -->
<section class="hero has-text-centered" id="links">
  <div class="hero-body">
    <p class="is-size-3 has-text-weight-semibold">{{ locales.web.INDEX_INVITE_READY }}</p>
    <p class="subtitle is-size-5">{{ bot.guilds.size }} {{ locales.web.INDEX_INVITE_TAGLINE }} {{ bot.user.username }}!</p>
    <a href="/github/" class="button is-medium" target="_blank" rel="noopener noreferrer">
      <span class="icon is-small">
        <em class="fab fa-github"></em>
      </span>
      <span>{{ locales.web.INDEX_INVITE_GITHUB }}</span>
    </a>
    <a href="/invite/" class="button is-medium">
      <span class="icon is-small">
        <em class="fas fa-plus"></em>
      </span>
      <span>{{ locales.web.INDEX_INVITE_ADD }}</span>
    </a>
    <a href="/vote/" class="button is-medium" target="_blank" rel="noopener noreferrer">
      <span class="icon is-small">
        <em class="fas fa-vote-yea"></em>
      </span>
      <span>{{ locales.web.INDEX_INVITE_VOTE }}</span>
    </a>
  </div>
</section>

<!-- Developers -->
<section class="hero has-text-centered" id="developers">
  <div class="hero-body">
    <div class="container">
      <p class="title is-size-2">Team</p>
      <p class="subtitle is-size-4">{{ locales.web.INDEX_TEAM_DESCRIPTION }} {{ bot.user.username }}!</p>
      <div class="columns">
        <div class="column is-one-fourth">
          <div class="card">
            <div class="card-image">
              <figure class="image is-square">
                <img src="/public/img/espi.jpg" alt="Espi" height="350" width="350" />
              </figure>
            </div>
            <div class="card-content">
              <p class="title is-size-3">sysdotini</p>
              <p class="subtitle is-size-5">{{ locales.web.INDEX_TEAM_OWNER }}</p>
            </div>
            <footer class="card-footer">
              <a href="https://github.com/sysdotini" class="card-footer-item" target="_blank" rel="noopener noreferrer">
                {{ locales.web.GITHUB }}
              </a>
              <a href="https://twitter.com/sysdotini" class="card-footer-item" target="_blank" rel="noopener noreferrer">{{
                locales.web.TWITTER
              }}</a>
            </footer>
          </div>
        </div>
        <div class="column is-one-fourth">
          <div class="card">
            <div class="card-image">
              <figure class="image is-square">
                <img src="/public/img/resolved.jpg" alt="resolved" height="350" width="350" />
              </figure>
            </div>
            <div class="card-content">
              <p class="title is-size-3">resolved</p>
              <p class="subtitle is-size-5">{{ locales.web.INDEX_TEAM_OWNER }}</p>
            </div>
            <footer class="card-footer">
              <a href="https://github.com/resolvedxd" class="card-footer-item" target="_blank" rel="noopener noreferrer">{{
                locales.web.GITHUB
              }}</a>
              <a href="https://twitter.com/resolvedxd" class="card-footer-item" target="_blank" rel="noopener noreferrer">{{
                locales.web.TWITTER
              }}</a>
            </footer>
          </div>
        </div>
        <div class="column is-one-fourth">
          <div class="card">
            <div class="card-image">
              <figure class="image is-square">
                <img src="/public/img/cth103.jpg" alt="cth103" height="350" width="350" />
              </figure>
            </div>
            <div class="card-content">
              <p class="title is-size-3">cth103</p>
              <p class="subtitle is-size-5">{{ locales.web.INDEX_TEAM_DEVELOPER }}</p>
            </div>
            <footer class="card-footer">
              <a href="https://github.com/cthpw103" class="card-footer-item" target="_blank" rel="noopener noreferrer">{{
                locales.web.GITHUB
              }}</a>
              <a href="https://twitter.com/cth103" class="card-footer-item" target="_blank" rel="noopener noreferrer">{{
                locales.web.TWITTER
              }}</a>
            </footer>
          </div>
        </div>
        <div class="column is-one-fourth">
          <div class="card">
            <div class="card-image">
              <figure class="image is-square">
                <img src="/public/img/tttie.jpg" alt="TTtie" height="350" width="350" />
              </figure>
            </div>
            <div class="card-content">
              <p class="title is-size-3">TTtie</p>
              <p class="subtitle is-size-5">{{ locales.web.INDEX_TEAM_DEVELOPER }}</p>
            </div>
            <footer class="card-footer">
              <a href="https://github.com/TTtie" class="card-footer-item" target="_blank" rel="noopener noreferrer">{{
                locales.web.GITHUB
              }}</a>
              <a href="https://twitter.com/TTtie_TT" class="card-footer-item" target="_blank" rel="noopener noreferrer">{{
                locales.web.TWITTER
              }}</a>
            </footer>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
