<% let channels = bot.guilds.get(guild.id).channels.map(c => ({name: c.name, id: c.id, type: c.type}));
channels = channels.filter(c => c.type === 0);
channels = channels.filter(c => bot.guilds.get(guild.id).channels.get(c.id).permissionsOf(bot.user.id).has("sendMessages")); %>

<h2 class="title is-size-2" id="channels"><i class="fas fa-scroll mr-2"></i>Logging</h2>
<p class="subtitle is-size-4">Sets what channels things log to and how logging works.</p>

<div class="field">
  <p class="title is-size-4">Agree Channel</p>
  <p class="subtitle is-size-5">The channel that members can agree to the rules with the agree command if set.</p>
  <div class="control">
    <div id="agreeChannel" class="select">
      <select>
        <option id="none">None</option>
        <% for (let i = 0; i < channels.length; i++) { %>
        <% let channel = channels[i] %>
        <option id=<%=channel.id%>>#<%= channel.name %></option>
        <% } %>
      </select>
    </div>
  </div>
</div>

<div class="field">
  <p class="title is-size-4">Join/Leave Message Channel</p>
  <p class="subtitle is-size-5">The channel that custom join and leave messages will post to.</p>
  <div class="control">
    <div id="leaveJoin" class="select">
      <select>
        <option id="none">None</option>
        <% for (let i = 0; i < channels.length; i++) { %>
        <% let channel = channels[i] %>
        <option id=<%=channel.id%>>#<%= channel.name %></option>
        <% } %>
      </select>
    </div>
  </div>
</div>

<div class="field">
  <p class="title is-size-4">Event Logging Channel</p>
  <p class="subtitle is-size-5">The channel that server edits and any role/channel updates will log to.</p>
  <div class="control">
    <div id="eventLogging" class="select">
      <select>
        <option id="none">None</option>
        <% for (let i = 0; i < channels.length; i++) { %>
        <% let channel = channels[i] %>
        <option id=<%=channel.id%>>#<%= channel.name %></option>
        <% } %>
      </select>
    </div>
  </div>
</div>

<div class="field">
  <p class="title is-size-4">Message Logging Channel</p>
  <p class="subtitle is-size-5">The channel that any message updates or deletions will log to.</p>
  <div class="control">
    <div id="messageLogging" class="select">
      <select>
        <option id="none">None</option>
        <% for (let i = 0; i < channels.length; i++) { %>
        <% let channel = channels[i] %>
        <option id=<%=channel.id%>>#<%= channel.name %></option>
        <% } %>
      </select>
    </div>
  </div>
</div>

<div class="field">
  <p class="title is-size-4">Mod Logging Channel</p>
  <p class="subtitle is-size-5">The channel that punishments, points, and bot function updates will log to.</p>
  <div class="control">
    <div id="modLogging" class="select">
      <select>
        <option id="none">None</option>
        <% for (let i = 0; i < channels.length; i++) { %>
        <% let channel = channels[i] %>
        <option id=<%=channel.id%>>#<%= channel.name %></option>
        <% } %>
      </select>
    </div>
  </div>
</div>

<div class="field">
  <p class="title is-size-4">Member Logging Channel</p>
  <p class="subtitle is-size-5">The channel that detailed member join/leave messages (meant for moderation) will log to.</p>
  <div class="control">
    <div id="memberLogging" class="select">
      <select>
        <option id="none">None</option>
        <% for (let i = 0; i < channels.length; i++) { %>
        <% let channel = channels[i] %>
        <option id=<%=channel.id%>>#<%= channel.name %></option>
        <% } %>
      </select>
    </div>
  </div>
</div>

<div class="field">
  <p class="title is-size-4">Ignored Logging Channels</p>
  <p class="subtitle is-size-5">Channels that the message logging module will ignore. It's a good idea to ignore private channels.</p>
  <div class="control">
    <div id="ignoredLoggingChannels" class="select">
      <select id="multiIgnoredChannels" class="multiple-select">
        <% for (let i = 0; i < channels.length; i++) { %>
        <% let channel = channels[i] %>
        <option><%= channel.name %> (<%= channel.id %>)</option>
        <% } %>
      </select>
    </div>
  </div>
</div>

<div class="field">
  <p class="title is-size-4">Join Message</p>
  <p class="subtitle is-size-5">Message sent when a member joins if the leave/join channel is set. {member}, {membercount}, and {servername} will parse. Leave empty if you wish to use the default.</p>
  <div class="control">
    <input id="joinMessage" class="textarea" placeholder="200 characters maximum; will automatically be reduced." cols="1" rows="1"></input>
  </div>
</div>

<div class="field">
  <p class="title is-size-4">Leave Message</p>
  <p class="subtitle is-size-5">Message sent when a member leaves if the leave/join channel is set. {member}, {membercount}, and {servername} will parse. Leave empty if you wish to use the default.</p>
  <div class="control">
    <input id="leaveMessage" class="textarea" placeholder="200 characters maximum; will automatically be reduced." cols="1" rows="1"></input>
  </div>
</div>
