<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/head") %>
    <meta name="csrf-token" content="<%= csrfToken %>" />
    <title>Manage - <%= guild.name %></title>
  </head>

  <body>
    <%# Header %>
    <section class="hero gradient">
      <%- include("../partials/navbar") %>
      <div class="hero-body">
        <div class="container has-text-centered">
          <figure class="image is-128x128 is-inline-block">
            <img src="<%= guild.icon ? `https://cdn.discordapp.com/icons/${guild.id}/${guild.icon}.png?size=128` :
            "https://cdn.discordapp.com/embed/avatars/0.png" %>"" class=" is-rounded" alt="<%= guild.name %>">
          </figure>
          <p class="title is-size-3 has-text-white">Managing <%= guild.name %></p>
        </div>
      </div>
    </section>

    <section class="section container">
      <div class="columns is-sidebar">
        <div class="column">
          <%# Sidebar %>
          <div class="menu sticky">
            <p class="menu-label is-active">Settings</p>
            <ul id="menu" class="menu-list">
              <li><a href="#general">General Options</a></li>
              <li><a href="#roles">Role Configuration</a></li>
              <li><a href="#greeting">Greeting Options</a></li>
              <li><a href="#logging">Logger Options</a></li>
              <li><a href="#music">Music Options</a></li>
              <li><a href="#pinboard">Pinboard Settings</a></li>
              <li><a href="#sniping">Sniping Options</a></li>
              <li><a href="#automod">Automod Settings</a></li>
            </ul>
          </div>
        </div>

        <%# Sticky buttons %>
        <div class="column is-10 content">
          <div class="sticky-buttons">
            <div class="buttons">
              <a href="#" class="button">
                <span class="icon"><em class="fas fa-arrow-up"></em></span>
                <span>Back to top</span>
              </a>
              <a class="button" id="submit">
                <%# Handles csrf validation. %>
                <input type="hidden" id="_csrf" name="_csrf" value="<%= csrfToken %>" />
                <span class="icon"><em class="fas fa-check"></em></span>
                <span id="saved">Save changes</span>
              </a>
              <a class="button modal-button" data-target="#modal" aria-haspopup="true">
                <span class="icon"><em class="fas fa-trash"></em></span>
                <span>Reset config</span>
              </a>
            </div>
          </div>

          <%# Gets validItems categories %>
          <% function getCategoryHTML(category) {
            switch(category) {
              case "features":
              %>
              <h2 class="title is-size-2" id="general"><em class="fas fa-cog mr-2"></em>General</h2>
              <p class="subtitle is-size-4">Basic options and functionality to configure.</p>
              <% break;
              case "automod": %>
              <h2 class="title is-size-2" id="automod"><em class="fas fa-hammer mr-2"></em>Automod</h2>
              <p class="subtitle is-size-4">Configures how automod works.</p>
              <% break;
              case "logging": %>
              <h2 class="title is-size-2" id="logging"><em class="fas fa-scroll mr-2"></em>Logging</h2>
              <p class="subtitle is-size-4">Sets what channels things log to and how logging works.</p>
              <% break;
              case "greeting": %>
              <h2 class="title is-size-2" id="greeting"><em class="fas fa-users mr-2"></em>Greeting and Farewell</h2>
              <p class="subtitle is-size-4">Configures and sets member greeting and farewell messages.</p>
              <% break;
              case "pinboard": %>
              <h2 class="title is-size-2" id="pinboard"><em class="fas fa-thumbtack mr-2"></em>Pinboard</h2>
              <p class="subtitle is-size-4">Configures and toggles Pinboard (aka Starboard) functionality.</p>
              <% break;
              case "sniping": %>
              <h2 class="title is-size-2" id="sniping"><em class="fas fa-comment-slash mr-2"></em>Sniping</h2>
              <p class="subtitle is-size-4">Configures how message sniping works.</p>
              <% break;
              case "roles": %>
              <h2 class="title is-size-2" id="roles"><em class="fas fa-user-tag mr-2"></em>Roles</h2>
              <p class="subtitle is-size-4">Configures role functions and their designated roles.</p>
              <% break;
              case "music": %>
              <h2 class="title is-size-2" id="music"><em class="fas fa-music mr-2"></em>Music</h2>
              <p class="subtitle is-size-4">Configures certain music options.</p>
              <% break;
            }

          } %>


          <%# Things to get %>
          <% let cats = {};
          let channels = bot.guilds.get(guild.id).channels.map(c => ({name: c.name, id: c.id, type: c.type}));
          channels = channels.filter(c => c.type === 0);
          channels = channels.filter(c => bot.guilds.get(guild.id).channels.get(c.id).permissionsOf(bot.user.id).has("sendMessages"));
          let voiceChannels = bot.guilds.get(guild.id).channels.map(c => ({name: c.name, id: c.id, type: c.type}));
          voiceChannels = voiceChannels.filter(c => c.type === 2);
          voiceChannels = voiceChannels.filter(c => bot.guilds.get(guild.id).channels.get(c.id).permissionsOf(bot.user.id).has("voiceSpeak"));
          let roles = bot.guilds.get(guild.id).roles.map(r => ({name: r.name, managed: r.managed, color: r.color.toString(16), id: r.id}));
          roles.splice(roles.find(r => r.name === "@everyone"), 1);
          roles = roles.filter(r => !r.managed);

          items.forEach(item => {
            if(item.category === "profile" || item.id === "disabledCategories") return;
            if(cats[item.category]) cats[item.category].push(item);
            else cats[item.category] = [item];
          });

          // Goes thru each item in a category
          Object.keys(cats).forEach(cat => {
            %>
            <%= getCategoryHTML(cat); %>
            <% cats[cat].forEach(item => { %>
            <%# Booleans %>
            <% if (item.type === "bool") { %>
              <div class="field">
                <p class="title is-size-4"><%= localizeItem(item.id, true) %></p>
                <p class="subtitle is-size-5"><%= localizeItem(item.id) %></p>

                <%# Booleans %>
                <div id="<%= item.id %>" class="control">
                  <label class="radio">
                    <%# Enabled %>
                    <input id=<%= `${item.id}_ON` %> type="radio" name="<%= item.id %>"<%=cfg && (cfg[item.id] === true || (!cfg[item.id] && item.default === true)) ? " checked" : ""%>> Enabled </input>
                  </label>
                  <%# Disabled %>
                  <label class="radio">
                    <input id=<%= `${item.id}_OFF` %> type="radio" name="<%= item.id %>"<%=cfg && (cfg[item.id] === false || (!cfg[item.id] && item.default === false)) ? " checked" : ""? " checked" : ""%>> Disabled </input>
                  </label>
                </div>
              </div>
              <br>

              <%# Strings %>
              <% } else if (item.type === "string") { %>
                <div class="field">
                  <p class="title is-size-4"><%= localizeItem(item.id, true) %></p>
                  <p class="subtitle is-size-5"><%= localizeItem(item.id) %></p>
                  <div class="control">
                    <input id="<%= item.id %>" value="<%= cfg && cfg[item.id] ? `${cfg[item.id]}` : ""%>"
                    class="input" type="text" placeholder="<%= `${item.maximum}${item.maximum > 15 ? " characters maximum; will automatically be reduced." : " characters or less"}` %>">
                  </div>
                </div>
                <br>

              <%# Channels %>
              <% } else if (item.type === "channelID") { %>
                <div class="field">
                  <p class="title is-size-4"><%= localizeItem(item.id, true) %></p>
                  <p class="subtitle is-size-5"><%= localizeItem(item.id) %></p>

                  <div class="control">
                    <div id="<%= item.id %>" class="select">
                      <select>
                        <option id="none">None</option>
                        <% for (let i = 0; i < channels.length; i++) { %>
                        <% let channel = channels[i] %>
                        <option id=<%= channel.id %>>#<%= channel.name %></option>
                        <% } %>
                      </select>
                    </div>
                  </div>
                </div>
                <br>

                <%# Voice channels %>
                <% } else if (item.type === "voiceChannel") { %>
                <div class="field">
                  <p class="title is-size-4"><%= localizeItem(item.id, true) %></p>
                  <p class="subtitle is-size-5"><%= localizeItem(item.id) %></p>

                  <div class="control">
                    <div id="<%= item.id %>" class="select">
                      <select>
                        <option id="none">None</option>
                        <% for (let i = 0; i < voiceChannels.length; i++) { %>
                        <% let channel = voiceChannels[i] %>
                        <option id=<%= channel.id %>>#<%= channel.name %></option>
                        <% } %>
                      </select>
                    </div>
                  </div>
                </div>
                <br>

              <%# Roles %>
              <% } else if (item.type === "roleID") { %>
                <div class="field">
                  <p class="title is-size-4"><%= localizeItem(item.id, true) %></p>
                  <p class="subtitle is-size-5"><%= localizeItem(item.id) %></p>

                  <div class="control">
                    <div id="<%= item.id %>" class="select">
                      <select>
                        <option id="none">None</option>
                        <% for (let i = 0; i < roles.length; i++) { %>
                        <% let role = roles[i] %>
                        <option <%= `style=color:#${role.color}` %> id=<%=role.id%>><%= role.name %></option>
                        <% } %>
                      </select>
                    </div>
                  </div>
                </div>
                <br>

              <%# Numbers %>
              <% } else if (item.type === "number") { %>
                <div class="field">
                  <p class="title is-size-4"><%= localizeItem(item.id, true) %></p>
                  <p class="subtitle is-size-5"><%= localizeItem(item.id) %></p>
                  <div class="control">
                    <div id="<%= item.id %>" class="select">
                      <select id=<%= `${item.id}_Select` %>>
                        <% for (let i = item.minimum; i <= (item.maximum ? item.maximum : (item.minimum + (item.minimum === 1 ? 9 : 10))); i++) { %>
                          <option<%= cfg && (cfg[item.id] ? cfg[item.id] === i : item.default === i) ? " selected" : "" %>><%= i %></option>
                        <% } %>
                      </select>
                    </div>
                  </div>
                </div>
                <br>

                <%# Locale %>
                <% } else if (item.type === "locale") {%>
                <div class="field">
                  <p class="title is-size-4"><%= localizeItem(item.id, true) %></p>
                  <p class="subtitle is-size-5"><%= localizeItem(item.id) %></p>
                  <div class="control">
                    <div id="<%= item.id %>" class="select">
                      <select>
                        <%
                        Object.keys(locales).forEach(locale => { %>
                          <option <%= (cfg && cfg[item.id] ? cfg[item.id] === locale : locale === item.default) ? "selected " : "" %>id="<%= locale %>"><%= locales[locale] %></option>
                        <% }) %>
                      </select>
                    </div>
                  </div>
                </div>
              <br>

              <%# Punishments %>
              <% } else if (item.type === "punishment") { %>
                <div class="field">
                  <p class="title is-size-4"><%= localizeItem(item.id, true) %></p>
                  <div id="<%= item.id %>" class="control">
                    <input id=<%= `${item.id}_Purge` %> type="checkbox"<%= cfg && cfg[item.id] && cfg[item.id].includes("Purge") ? " checked" : "" %>> Delete message</input>
                    <br>
                    <input id=<%= `${item.id}_Mute` %> type="checkbox"<%= cfg && cfg[item.id] && cfg[item.id].includes("Mute") ? " checked" : "" %>> Mute the member </input>
                    <br>
                    <input id=<%= `${item.id}_Warn` %> type="checkbox"<%= cfg && cfg[item.id] && cfg[item.id].includes("Warn") ? " checked" : "" %>> Warn the member</input>
                    </label>
                  </div>
                </div>
                <br>

              <%# Raid Punishments %>
              <% } else if (item.type === "raidPunishment") { %>
                <div class="field">
                  <p class="title is-size-4"><%= localizeItem(item.id, true) %></p>
                  <p class="subtitle is-size-5"><%= localizeItem(item.id) %></p>
                  <div id="<%= item.id %>" class="control">
                    <input id=<%= `${item.id}_Ban` %> type="checkbox"<%= cfg && cfg[item.id] && cfg[item.id].includes("Ban") ? " checked" : "" %>> Ban the member</input>
                    <br>
                    <input id=<%= `${item.id}_Kick` %> type="checkbox"<%= cfg && cfg[item.id] && cfg[item.id].includes("Kick") ? " checked" : "" %>> Kick the member </input>
                    <br>
                    <input id=<%= `${item.id}_Mute` %> type="checkbox"<%= cfg && cfg[item.id] && cfg[item.id].includes("Mute") ? " checked" : "" %>> Mute the member</input>
                    </label>
                  </div>
                </div>
                <br>

              <%# Emoji %>
              <% } else if (item.type === "emoji") { %>
                <p class="title is-size-4"><%= localizeItem(item.id, true) %></p>
                <p class="subtitle is-size-5"><%= localizeItem(item.id) %></p>
                <div id="twemoji-picker">
                  <%# TODO: Either make our own picker or style this. %>
                  <button id="<%= item.id %>" class="trigger">📌</button>
                </div>
                <br>

              <%# RoleArray %>
              <% } else if (item.type === "roleArray") { %>
                <div class="field">
                  <p class="title is-size-4"><%= localizeItem(item.id, true) %></p>
                  <p class="subtitle is-size-5"><%= localizeItem(item.id) %></p>
                  <div class="control">
                    <div id="<%= item.id %>" class="select">
                      <select id="<%= `multi${item.id}` %>" class="multiple-select">
                        <% for (let i = 0; i < roles.length; i++) { %>
                        <% let role = roles[i] %>
                        <option><%= role.name %> (<%= role.id %>)</option>
                        <% } %>
                      </select>
                    </div>
                  </div>
                </div>
                <br>

              <%# ChannelArray %>
              <% } else if (item.type === "channelArray") { %>
                <div class="field">
                  <p class="title is-size-4"><%= localizeItem(item.id, true) %></p>
                  <p class="subtitle is-size-5"><%= localizeItem(item.id) %></p>
                  <div class="control">
                    <div id="<%= item.id %>" class="select">
                      <select id="<%= `multi${item.id}` %>" class="multiple-select">
                        <% for (let i = 0; i < channels.length; i++) { %>
                        <% let channel = channels[i] %>
                        <option><%= channel.name %> (<%= channel.id %>)</option>
                        <% } %>
                      </select>
                    </div>
                  </div>
                </div>
                <br>

              <%# Array %>
              <% } else if (item.type === "array") { %>
                <div class="field">
                  <p class="title is-size-4"><%= localizeItem(item.id, true) %></p>
                  <p class="subtitle is-size-5"><%= localizeItem(item.id) %></p>
                  <div class="control">
                    <div id="<%= item.id %>" class="select">
                    </div>
                  </div>
                </div>
                <br>

              <% } %>
          <% })}); %>
        </div>
      </div>
    </section>

    <img src="/public/img/stare.png" id="stare" class="is-hidden-mobile" alt="👀">
    <%- include("../partials/modal") %>
    <%- include("../partials/footer") %>
  </body>

  <script src="/public/js/navbar.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bulmaselect@1.0.12/dist/bulmaselect.min.js" crossorigin="anonymous"></script>
  <script src="/public/js/imageClick.js"></script>
  <script src="/public/js/manage.js"></script>
  <script src="/public/js/modal.js"></script>
  <script src="/public/js/picker.js" type="module"></script>
</html>
