<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("../partials/head") %>
  <meta name="csrf-token" content="<%= csrfToken %>">
  <script src="https://cdn.jsdelivr.net/npm/bulmaselect@1.0.5/dist/bulmaselect.min.js" crossorigin="anonymous"></script>
  <title>Manage - <%= guild.name %></title>
</head>

<body>
  <%# Header %>
  <section class="hero gradient">
    <%- include("../partials/navbar") %>
    <div class="hero-body">
      <div class="container has-text-centered">
        <figure class="image is-128x128 is-inline-block">
          <img src="<%= guild.icon ? `https://cdn.discordapp.com/icons/${guild.id}/${guild.icon}.png?size=128` : "https://cdn.discordapp.com/embed/avatars/0.png" %>>"" class=" is-rounded" alt="icon">
        </figure>
        <p class="title is-size-3 has-text-white">Managing <%= guild.name %></p>
      </div>
    </div>
  </section>

  <%# Main content %>
  <section class="section container">
    <div class="columns">
      <div class="column">
        <%# Sidebar %>
        <div class="menu sticky">
          <p class="menu-label is-active">Settings</p>
          <ul id="menu" class="menu-list">
            <li><a href="#general">General Options</a></li>
            <li><a href="#automod">Automod Settings</a></li>
            <li><a href="#logging">Channels &amp; Logging</a></li>
            <li><a href="#pinboard">Pinboard Settings</a></li>
            <li><a href="#sniping">Sniping Configuration</a></li>
            <li><a href="#roles">Role Configuration</a></li>
          </ul>
        </div>
      </div>
      <%# Sticky buttons %>
      <div class="column is-10 content">
        <div class="sticky-buttons">
          <div class="buttons">
            <a href="#" class="button">
              <span class="icon"><i class="fas fa-arrow-up"></i></span>
              <span>Back to top</span>
            </a>
            <a class="button" id="submit">
              <%# Handles csrf validation. Don't remove this, or shit will break. %>
              <input type="hidden" id="_csrf" name="_csrf" value="<%= csrfToken %>">
              <span class="icon"><i class="fas fa-check"></i></span>
              <span id="saved">Save changes</span>
            </a>
            <a class="button modal-button" data-target="#modal" aria-haspopup="true">
              <span class="icon"><i class="fas fa-trash"></i></span>
              <span>Reset config</span>
            </a>
          </div>
        </div>

        <%# Main dashboard %>
        <%- include("../partials/modal.ejs") %>
        <%- include("../partials/general") %>
        <%- include("../partials/automod") %>
        <%- include("../partials/logging") %>
        <%- include("../partials/pinboard") %>
        <%- include("../partials/sniping") %>
        <%- include("../partials/roles") %>
      </div>
    </div>
  </section>

  <%- include("../partials/footer") %>

</body>

<script src="/public/js/manage.js"></script>
<script src="/public/js/modal.js"></script>
<script src="/public/js/navbar.js"></script>
<script src="/public/js/picker.js" type="module"></script>

</html>
