<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("../partials/head.ejs") %>
  <meta name="csrf-token" content="<%= csrfToken %>">
  <script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/multiple-select/dist/multiple-select.min.js" crossorigin="anonymous"></script>
  <title>Profile - <%= bot.user.username %></title>
</head>

<body>
  <section class="hero gradient">
    <%- include("../partials/navbar.ejs") %>
    <div class="hero-body">
      <div class="container has-text-centered">
        <figure class="image is-128x128 is-inline-block">
          <img src="<%= user.avatar %>" class="is-rounded" alt="user">
        </figure>
        <p class="title is-size-3 has-text-white">Editing Profile</p>
      </div>
    </div>
  </section>

  <section class="section container content">
    <p class="title is-size-3">Bio</p>
    <p class="subtitle is-size-5">A short description about yourself.</p>
    <input class="input" id="bio" type="text" placeholder="Your desired bio, will be trimmed to 120 characters.">
  </section>

  <%- include("../partials/footer.ejs") %>
</body>

<%# Imports scripts %>
<script src="/public/js/bio.js"></script>
<script src="/public/js/profile.js"></script>

</html>
