<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("../partials/head.ejs") %>
  <title>Profile - <%= bot.user.username %></title>
</head>

<body>
  <section class="hero gradient">
    <%- include("../partials/navbar.ejs") %>
    <div class="hero-body">
      <div class="container has-text-centered">
        <figure class="image is-128x128 is-inline-block">
          <img src="<%= user.avatar %>" class="is-rounded" alt="user" onerror="this.src='https://cdn.discordapp.com/embed/avatars/0.png'">
        </figure>
        <p class="title is-size-3 has-text-white">Editing Profile</p>
      </div>
    </div>
  </section>

  <%- include("../partials/footer.ejs") %>
</body>

</html>
