<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("../partials/head") %>
  <script src="/public/js/navbar.js" crossorigin="anonymous"></script>
  <title>Servers - <%= bot.user.username %></title>
</head>

<body>
  <% let managableGuilds = user["guilds"].filter(g => (g.permissions & 32) === 32 || (g.permissions & 8) === 8 && bot.guilds.get(g.id)); %>
  <section class="hero gradient">
    <%- include("../partials/navbar") %>
    <div class="hero-body">
      <div class="container">
        <p class="title has-text-white is-size-3">Welcome to the dashboard, <%= user.username %>.</p>
        <p class="subtitle has-text-white is-size-5">Select a server to configure, or add <%= bot.user.username %> to a server you can manage.</p>
      </div>
    </div>
  </section>

  <%# List of guilds %>
  <section class="section container">
    <% managableGuilds.map(g => { %>
    <article class="media">
      <figure class="media-left">
        <div class="image is-48x48">
          <img src="<%= g.icon ? `https://cdn.discordapp.com/icons/${g.id}/${g.icon}.png?size=64` : "https://cdn.discordapp.com/embed/avatars/0.png"%>" class="is-rounded">
        </div>
      </figure>
      <div class="media-content is-clipped">
        <p class="subtitle is-size-2"><%= g.name %></p>
      </div>
      <div class="media-right">
        <% if (bot.guilds.has(g.id)) { %>
        <a href="/manage/<%=g.id%>" class="button is-medium">
          <span class="icon is-small"><i class="fa fa-wrench"></i></span>
          <p>Config</p>
        </a>
        <% } else { %>
        <a href="<%=`https://discordapp.com/oauth2/authorize?client_id=${bot.user.id}&scope=bot&permissions=506850534&guild_id=${g.id}`%>" class="button is-medium">
          <span class="icon is-small"><i class="fa fa-plus"></i></span>
          <p>Invite</p>
        </a>
        <% } %>
    </article>
    <% }) %>
  </section>

  <%- include("../partials/footer") %>
</body>

</html>
