<div class="columns">
  <div class="column">
    <div class="menu sticky">
      <p class="menu-label is-active">Settings</p>
      <ul id="menu" class="menu-list">
        <li><a href="#general">General Options</a></li>
        <li><a href="#automod">Automod Settings</a></li>
        <li><a href="#logging">Channels &amp; Logging</a></li>
        <li><a href="#pinboard">Pinboard Settings</a></li>
        <li><a href="#sniping">Sniping Configuration</a></li>
        <li><a href="#roles">Role Configuration</a></li>
      </ul>
    </div>
  </div>
  <div class="column is-10 content">
    <div class="sticky-buttons">
      <div class="buttons">
        <a href="#" class="button">
          <span class="icon"><i class="fas fa-arrow-up"></i></span>
          <span>Back to top</span>
        </a>
        <a class="button" id="submit">
          <span class="icon"><i class="fas fa-check"></i></span>
          <span id="saved">Save changes</span>
        </a>
        <a href="/servers/" class="button">
          <span class="icon"><i class="fas fa-home"></i></span>
          <span>Back home</span>
        </a>
      </div>
    </div>
    <%- include("./main/general.ejs") %>
    <%- include("./main/automod.ejs") %>
    <%- include("./main/logging.ejs") %>
    <%- include("./main/pinboard.ejs") %>
    <%- include("./main/sniping.ejs") %>
    <%- include("./main/roles.ejs") %>
  </div>
</div>
