<% let channels = bot.guilds.get(guild.id).channels.map(c => ({name: c.name, id: c.id, type: c.type}));
channels = channels.filter(c => c.type === 0);
channels = channels.filter(c => bot.guilds.get(guild.id).channels.get(c.id).permissionsOf(bot.user.id).has("sendMessages")); %>

<h2 class="title is-3" id="logging"><i class="fas fa-scroll icons" style="padding-right: 5px;"></i>Channels &amp; Logging</h2>
<p class="subtitle has-text-white">Sets what channels do what &amp; how logging works.</p>

<div class="columns">
  <div class="column is-narrow">
    <div class="field">
      <p class="title is-size-4">Agree Channel</p>
      <p class="subtitle is-size-6 has-text-white">The channel new members run the agree command.</p>
      <div class="control">
        <div id="agreeChannel" class="select">
          <select>
            <option id="none">None</option>
            <% for(let i = 0; i < channels.length; i++) { %>
            <% let channel = channels[i] %>
            <option id=<%=channel.id%>>#<%= channel.name %></option>
            <% } %>
          </select>
        </div>
      </div>
    </div>

    <br>

    <div class="field">
      <p class="title is-size-4">Join/Leave Channel</p>
      <p class="subtitle is-size-6 has-text-white">Channel that leave and join messages are posted in.</p>
      <div class="control">
        <div id="leaveJoin" class="select">
          <select>
            <option id="none">None</option>
            <% for(let i = 0; i < channels.length; i++) { %>
            <% let channel = channels[i] %>
            <option id=<%=channel.id%>>#<%= channel.name %></option>
            <% } %>
          </select>
        </div>
      </div>
    </div>

    <br>

    <div class="field">
      <p class="title is-size-4">Event Logging Channel</p>
      <p class="subtitle is-size-6 has-text-white">Channel that channel/role events log to.</p>
      <div class="control">
        <div id="eventLogging" class="select">
          <select>
            <option id="none">None</option>
            <% for(let i = 0; i < channels.length; i++) { %>
            <% let channel = channels[i] %>
            <option id=<%=channel.id%>>#<%= channel.name %></option>
            <% } %>
          </select>
        </div>
      </div>
    </div>

    <br>

    <div class="field">
      <p class="title is-size-4">Custom Join Message</p>
      <p class="subtitle is-size-6 has-text-white">Supports <code>{member}</code>, <code>{membercount}</code>, and <code>{servername}</code>.</p>
      <div class="control">
        <input id="joinMessage" class="textarea" placeholder="100 chars max" cols="1" rows="1"></input>
      </div>
    </div>
  </div>

  <div class="column is-narrow">
    <div class="field">
      <p class="title is-size-4">Message Logging Channel</p>
      <p class="subtitle is-size-6 has-text-white">Channel that message updates and deletions log to.</p>
      <div class="control">
        <div id="messageLogging" class="select">
          <select>
            <option id="none">None</option>
            <% for(let i = 0; i < channels.length; i++) { %>
            <% let channel = channels[i] %>
            <option id=<%=channel.id%>>#<%= channel.name %></option>
            <% } %>
          </select>
        </div>
      </div>
    </div>

    <br>

    <div class="field">
      <p class="title is-size-4">Mod Logging Channel</p>
      <p class="subtitle is-size-6 has-text-white">Channel that punishments and other bot events log to.</p>
      <div class="control">
        <div id="modLogging" class="select">
          <select>
            <option id="none">None</option>
            <% for(let i = 0; i < channels.length; i++) { %>
            <% let channel = channels[i] %>
            <option id=<%=channel.id%>>#<%= channel.name %></option>
            <% } %>
          </select>
        </div>
      </div>
    </div>

    <br>

    <div class="field">
      <p class="title is-size-4">Member Logging Channel</p>
      <p class="subtitle is-size-6 has-text-white">Channel that detailed member join/leave messages log to.</p>
      <div class="control">
        <div id="memberLogging" class="select">
          <select>
            <option id="none">None</option>
            <% for(let i = 0; i < channels.length; i++) { %>
            <% let channel = channels[i] %>
            <option id=<%=channel.id%>>#<%= channel.name %></option>
            <% } %>
          </select>
        </div>
      </div>
    </div>

    <br>

    <div class="field">
      <p class="title is-size-4">Custom Leave Message</p>
      <p class="subtitle is-size-6 has-text-white">Supports <code>{member}</code>, <code>{membercount}</code>, and <code>{servername}</code>.</p>
      <div class="control">
        <input id="leaveMessage" class="textarea" placeholder="100 chars max" cols="1" rows="1"></input>
      </div>
    </div>
  </div>
</div>

<br>
