<!-- General stuff -->
<meta charset="utf-8" />
<meta content="#ffb000" name="theme-color" />
<meta content="#ffb000" name="msapplication-navbutton-color" />
<meta content="#ffb000" name="apple-mobile-web-app-status-bar-style" />
<meta content="width=device-width, initial-scale=1" name="viewport" />

<!-- Resources -->
<link
rel="stylesheet"
  type="text/css"
  href="{{ "./css/index.css" | url }}" />

<!-- Default SEO stuff -->
<meta content="{{ description }}" name="description" />
<meta content="index,follow" name="robots" />
<meta content="Hibiki" name="author" />
<link href="https://hibiki.app" rel="canonical" />

<!-- Open Graph SEO -->
<meta content="https://hibiki.app" property="og:url" />
<meta content="{{ description }}" property="og:description" />
<meta content="{{ title }}" property="og:title" />
<meta content="article" property="og:type" />

<!-- Twitter SEO -->
<meta content="https://hibiki.app" name="twitter:url" />
<meta content="{{ description }}" name="twitter:description" />
<meta content="@espimarisa" name="twitter:site" />
<meta content="{{ title }}" name="twitter:title" />
<meta content="summary_large_image" name="twitter:card" />

<!-- Open graph favicon -->
<meta content="{{ "./img/logo-256x256.png" | url }}" property="og:image" />

<!-- Twitter favicon -->
<meta content="{{ "./img/logo-256x256.png" | url }}" name="twitter:image" />

<!-- Browser favicon -->
<link
href="{{ "./img/logo-256x256.png" | url }}"
  rel="icon"
  type="image/png" />

<!-- Shortcut icon -->
<link rel="shortcut icon" href="{{ "./img/favicons/favicon.ico" | url }}" />

<title>{{ title }}</title>
