<%#
  Main Dashboard page
%>

<head>
  <%- include("../partials/meta.ejs") %>
  <script src="../static/manage.js"></script>
  <script src="../static/navbar.js"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://unpkg.com/multiple-select@1.5.2/dist/multiple-select.min.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/multiple-select@1.5.2/dist/multiple-select.min.css">
  <link rel="stylesheet" href="../static/css/manage.css">
  <title><%= bot.user.username %> - <%= guild.name %></title>
</head>

<body>

  <section class="hero is-small gradient">
    <div class="hero-body">
      <div class="container">
        <div class="columns is-vcentered is-centered">
          <div class="column has-text-centered">
            <img src="https://cdn.discordapp.com/icons/<%= guild.id %>/<%= guild.icon %>.png" alt="Server Icon" class="guild-icon" onerror="this.src='https://cdn.discordapp.com/embed/avatars/0.png'">
            <p class="title is-size-2">Configuring <%= guild.name %></h1>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="container section">
    <%- include("../partials/dash.ejs") %>
  </section>
  <%- include("../partials/footer.ejs") %>
</body>

<script src="../static/select.js"></script>
